<list>
<!-- 
	<watch>
		<filename>/home/sorenm/.tomboy</filename>
	</watch>
	<watch>
		<filename>/home/sorenm/indextest</filename>
	</watch>
	
	<watch>
		<filename>/home/sorenm/.gaim/logs</filename>
	</watch>

	<watch>
		<filename>/home/sorenm/.evolution/mail/local/Inbox</filename>
	</watch>
	
	<watch>
		<filename>/home/sorenm/.evolution/addressbook/local/system/addressbook.db</filename>
	</watch>
	
	<watch>
		<filename>/home/sorenm/Documents</filename>
	</watch>
	 -->
	<watch>
		<filename>/home/sorenm/Music/Swan Lee/Swan Lee</filename>
	</watch>
<!--
	<watch>
		<filename>/usr/share/applications</filename>
	</watch>
        
        <watch>
		<filename>/home/sorenm/.mozilla/firefox/q3qe8bfl.default/Cache</filename>
	</watch>
    -->    
        
</list>

